body{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.myArt{
    margin-top: 5vh;
}
.divFlex{
    height: 100px;
    width: 100px;
}

img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  }